/* CSS dosyanızda */
.footer-expansion-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px; /* İstediğiniz genişliği ayarlayabilirsiniz */
    z-index: 1000; /* Sayfa içeriğinin üstünde olması için */
  }
  
  .mat-expansion-panel-content {
    display: flex;
    flex-direction: column-reverse; /* İçeriği yukarı doğru genişlet */
  }
  
  /* Panel açıldığında sayfanın geri kalanı kaydırılmamalı */
  .mat-content {
    overflow: visible !important;
  }
/* CSS dosyanızda */
.chat-container {
  height: 400px; /* İstediğiniz sabit yüksekliği burada ayarlayın */
  overflow-y: auto; /* Yalnızca dikey scrollbar görüntüle */
  display: flex;
  flex-direction: column-reverse; /* Mesajları aşağıdan yukarıya doğru görüntüle */
}
