<mat-accordion>
    <mat-accordion class="footer-expansion-panel">
        <mat-expansion-panel>
          <mat-expansion-panel-header>        
            <mat-panel-title>
              Müşteri Hizmetleri
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <ng-template matExpansionPanelContent>
            Some deferred content
            Some deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred contentSome deferred content
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-accordion>